html,
body {
  background-color: #cedfcd;
}
.navbar {
  width: 100%;
  padding: 2.5rem 1rem 0rem;
}
.hero {
  background-image: url(../img/hero_drumkit.jpg);
  background-size: cover;
  background-position: top;
  height: calc(100vh - 110px);
}
.hero-overlay {
  display: flex;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
}
.card-deck .card-body {
  height: 250px;
}
.card-footer {border-top:0px}
