html,
body {
  background-color: #cedfcd;
}
.navbar {
  width: 100%;
  padding: 2.5rem 1rem 0rem;
}
@media (min-width: 1280px) {
  .container {
    max-width: initial;
  }
}
.border-bottom {
  border-bottom: 5px solid #080808 !important;
}
